# Orbiter Smart Sensor T0 Filament Sensor Configuration
# https://www.orbiterprojects.com/smart-sensor-for-orbiter-v2/

[filament_switch_sensor toolhead_filament_sensor_t1]
pause_on_runout: False
event_delay: 1.0
switch_pin: ^toolboard_t1:orbiter_filament_sensor_sense_pin
runout_gcode:
	_ON_TOOLHEAD_FILAMENT_SENSOR_RUNOUT TOOLHEAD=1
insert_gcode:
	_ON_TOOLHEAD_FILAMENT_SENSOR_INSERT TOOLHEAD=1
  
[gcode_button toolhead_filament_sensor_button_t1]
pin: ^toolboard_t1:orbiter_filament_sensor_unload_pin
press_gcode:
    {% if (printer.print_stats.state == "printing") %}
        _ON_TOOLHEAD_FILAMENT_SENSOR_CLOG TOOLHEAD=1
    {% else %}
        _ON_FILAMENT_SENSOR_BUTTON_PRESSED TOOLHEAD=1
    {% endif %}
release_gcode:
