# Orbiter Sensor T0 Filament Sensor Configuration
# Suits the original Orbiter sensor, which does not have tangle detection.
# https://www.orbiterprojects.com/orbiter-filament-sensor/

[filament_switch_sensor toolhead_filament_sensor_t1]
pause_on_runout: False
event_delay: 0.1
switch_pin: toolboard_t1:filament_sensor_sense_pin
runout_gcode: 
    _ON_TOOLHEAD_FILAMENT_SENSOR_RUNOUT TOOLHEAD=1
insert_gcode: 
    _ON_TOOLHEAD_FILAMENT_SENSOR_INSERT TOOLHEAD=1
 
[gcode_button toolhead_filament_sensor_button_t1]
pin: toolboard_t1:filament_sensor_button_pin  
press_gcode:
	_ON_FILAMENT_SENSOR_BUTTON_PRESSED TOOLHEAD=1
release_gcode:
